
@media screen and (prefers-color-scheme: light) {
    body {
      background-color: #f7f8fb;
      color: #3b3b3b;
    }

    h1,
    h2,
    h3,
    strong {
      color: rgba(0, 0, 0, 0.95);
    }
  }
