@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/font-awesome/css/font-awesome.min.css';
@import '../../node_modules/medium-editor/dist/css/medium-editor.min.css';
@import '../../node_modules/medium-editor/dist/css//themes/default.min.css';

@import './var.scss';
@import './grid.scss';
@import './typography.scss';
@import './dropdown.scss';
@import './modal.scss';

* {
  font-style: normal;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--bodyBackground);
  color: var(--bodyColor);
  font-family: var(--fontFamily);
}

h1,
h2,
h3,
strong {
  color: var(--bodyBoldColor);
}

.yx-header {
  color: var(--headerColor);

  span, i {
    display: inline-block;
    vertical-align: middle;
 }
  #yx-date-value {
    padding: 0 0.75rem;
  }
}
.title {
  display: inline-block;
  background: var(--headerTitleBackground);
  border-radius: 8px;
  letter-spacing: 0.5px;
  padding: 0;
  box-shadow: var(--headerTitleBoxShadow);
  cursor: pointer;
}

.editable {
  min-height: 200px;
  padding: 1.0rem 2.0rem;

  -webkit-backdrop-filter: saturate(50%) blur(20px);
  backdrop-filter: saturate(50%) blur(20px);
  color: var(--noteColor);
  background-color: var(--noteBgColor);
  background-image: var(--noteBgImage);
  box-shadow: var(--noteBoxShadow);
  border-radius: 0.75rem;
  opacity: 1.0;


  &:focus {
    outline: none;
  }

}

.yanx-note-readonly {
  cursor: not-allowed;
  box-shadow: none;
  color: var(--noteDisabledColor);
  transition: all .5s linear;
  opacity: 0.8;
  &::after {
    content: ''!important;
  }
}


.yx-quotes {
  margin-top: 1.5rem;
  text-align: center;

  p {
    margin: 0;
    padding: 0 0 0.5rem;
  }

  a {
    opacity: 0.86;
    font-style: italic;
    &::before {
      content: ' - ';
    }
  }
}



.yx-info-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;

  img {
    width: 25px;
    height: 25px;
    opacity: 0.35;
    @media screen and (prefers-color-scheme: dark) {
      opacity: 0.65;
      filter: invert(1);
    }
  }

}