.medium-editor-placeholder {
  color: var(--notePlaceholderColor);
}

.yx-header {

  font-style: normal;
  margin: 0;
  padding: 1.25rem 0;

  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
}

h3 {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.75;
}

p,
.medium-editor-placeholder,
li {
  margin-top: 0;
  font-size: 1.65rem;
  line-height: 1.6;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: var(--linkColor);
}

ol,
ul {
  margin-bottom: 1.75rem;
}

strong {
  font-weight: 600;
}

.yx-quotes {
  p {
    font-size: 1.10rem;
    color: var(--quoteTextColor);
    quotes: "“" "”" "‘" "’";
    letter-spacing: 0.25px;
    &::before {
        content: open-quote;
        color: var(--quoteSymbolColor);
    }
    &::after {
        content: close-quote;
        color: var(--quoteSymbolColor);
    }
  }

  a {
    font-size: 1.05rem;
    color: var(--quoteAuthorColor);
    &:hover {
      color: var(--linkColor)
    }
  }
}