:root {
  --fontFamily: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --monoFontFamily: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  --bodyBackground: #1D1D1D;
  --bodyColor: rgba(235, 235, 245, 0.6);
  --linkColor: #04DE71;
  --bodyBoldColor:  rgba(255, 255, 255, 0.90);

  --notePlaceholderColor: rgba(23, 23, 102, 0.13);

  --noteColor :rgba(255, 255, 255, 0.85);
  --noteDisabledColor: rgba(255, 255, 255, 0.65);
  --noteBgColor: #232324;
  --noteBoxShadow: 0 1px 0 rgba(0,0,0,.05),0 1px 3px rgba(0, 0, 0, 0.1),inset 0 -.5px 0 rgba(255, 255, 255, 0.1);

  --headerColor: rgba(255, 255, 255, 0.65);
  --headerTitleBackground: rgba(0, 0, 0, 0.35);
  --headerTitleBoxShadow: 0 1px 0 rgba(0,0,0,.05),0 1px 3px rgba(0, 0, 0, 0.1),inset 0 -.5px 0 rgba(255, 255, 255, 0.1);

  --headerMenuColor: rgba(255, 255, 255, 0.65);
  --headerMenuBackground: rgba(0, 0, 0, 0.35);
  --headerMenuBackgroundHover: rgba(255, 255, 255, 0.15);

  --quoteTextColor: rgba(255, 255, 255, 0.55);
  --quoteSymbolColor: rgba(255, 255, 255, 0.35);
  --quoteAuthorColor: rgba(255, 255, 255, 0.45);

   --modelBackground: rgba(0, 0, 0, 0.82);
   --modelContentBackground: #444;

   --modelCloseBackground: #666;
   --modelCloseBackgroundHover: #888;
   --modelCloseColor: #444;

   --modalHeaderColor :rgba(255, 255, 255, 0.85);
   --modalTextColor: rgba(255, 255, 255, 0.65);

}

@media screen and (prefers-color-scheme: light) {

  :root {
    --bodyBackground: #f7f8fb;
    --bodyColor: #3b3b3b;
    --linkColor: #2DB671;
    --bodyBoldColor:  rgba(0, 0, 0, 0.95);

    --noteColor: rgba(0, 0, 0, 0.88);
    --noteDisabledColor: rgba(0, 0, 0, 0.55);
    --noteBgColor: rgba(255, 255, 255, 0.88);
    --noteBgImage: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0, rgba(255, 255, 255, 0) 100%);
    --noteBoxShadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.07), inset 0 1px 1px rgba(255, 255, 255, 0.45);

    --headerColor: #535353;
    --headerTitleBackground: #ebecf1;
    --headerTitleBoxShadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.07), inset 0 1px 1px rgba(255, 255, 255, 0.45);

    --headerMenuColor: rgba(255, 255, 255, 0.65);
    --headerMenuBackground: #ebecf1;
    --headerMenuBackgroundHover: rgba(0, 0, 0, 0.05);

    --quoteTextColor: #7f7f7f;
    --quoteSymbolColor: #999;
    --quoteAuthorColor: #8b8b8b;


   --modelBackground: rgba(0, 0, 0, 0.45);
   --modelContentBackground: #fff;

   --modelCloseBackground: #fff;
   --modelCloseBackgroundHover: #f2f2f2;
   --modelCloseColor: #fff;

   --modelBoxShadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;

   --modalHeaderColor :rgba(0, 0, 0, 0.85);
   --modalTextColor: rgba(0, 0, 0, 0.65);


  }


}